<%- include("../partials/header.ejs") %>

<main>
    <%- include("../partials/message") %>

    <% if (editedOrder) { %>
        <h2>Edytuj zam贸wienie nr <%= editedOrder.id %> 锔</h2>
        
    <% } else { %>
        <h2>Z贸偶 zam贸wienie na obrazki z femboyami :3</h2>
    <% } %>

    <form method="POST" action="<%= editedOrder ? `/orders/${editedOrder.id}` : '/orders' %>">
        <% if (editedOrder) { %>
            <input type="number" id="id" name="id" value="<%= editedOrder.id %>" hidden/><br/><br/>
        <% } %>
        <label for="description">Opis zam贸wienia</label><br/>
        <textarea id="description" name="description"><%= editedOrder ? editedOrder.description : '' %></textarea><br/><br/>
        <label for="imagesNumber">Ile obrazk贸w chcesz otrzyma?</label><br/>
        <input type="number" id="imagesNumber" name="imagesNumber" value="<%= editedOrder ? editedOrder.imagesNumber : '' %>"></textarea><br/><br/>
        <label for="fileType">Typ pliku, kt贸ry chcesz otrzyma</label><br/>
        <select name="fileType" required>
            <option value="jpg" <%= editedOrder && editedOrder.fileType === 'jpg' ? 'selected' : '' %>>JPG</option>
            <option value="png" <%= editedOrder && editedOrder.fileType === 'png' ? 'selected' : '' %>>PNG</option>
            <option value="gif" <%= editedOrder && editedOrder.fileType === 'gif' ? 'selected' : '' %>>GIF</option>
            <option value="uwu" <%= editedOrder && editedOrder.fileType === 'uwu' ? 'selected' : '' %>>UwU</option>
        </select><br/><br/>
        <input type="submit" value="Wysyam! "/>
    </form>
</main>

<%- include("../partials/footer.ejs") %>